<div class="row-fluid">
  <div class="span6 widget red">
    <header>
      <h4 class="title"><span class="icon icone-bookmark"></span> Questions</h4>
    </header>
    <section class="body">
      <div class="body-inner">
       
        <p><i class="icone-bar-chart i_font"></i><div class="visual"><%= @quiz_question.present? ? @quiz_question.count : "0 " %></div></p>
      </div>
      <div class="footer"><a class="more" href='<%=quiz_questions_path%>'>View <i class="m-icon-swapright m-icon-white"></i></a> 
      </div>
    </section>
  </div>

  <div class="span6 widget green">
    <header>
      <h4 class="title"><span class="icon icone-bookmark"></span>Users</h4>
    </header>
    <section class="body">
      <div class="body-inner">
        <p><i class="icone-user-md i_font"></i><div class="visual"><%= @users.present? ? @users.count : "0 " %></div></p>
      </div>
      <div class="footer"><a class="more" href='<%=users_path%>'>View <i class="m-icon-swapright m-icon-white"></i></a> </div>
    </section>
  </div>
</div>