<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
</head>
<body>
  <h3><%= @sender.firstname %> has challenge you via IQ-trainer</h3>
  <h4>Your login details are as follows</h4>
  <ul>
    <li>Email    : <%= @email %></li>
    <li>Passowrd : iqtrainer123</li>
  </ul>
</body>
</html>