<%= semantic_nested_form_for(@quiz_category,:html => {:class=>"span12 form-horizontal widget stacked dark"}) do |f| %>
  <header>
    <h4 class="title">Category</h4>
  </header>
  <section class="body">
    <div class="body-inner">    
      <div class="control-group">
        <%= f.label :name ,"Category Name",:class => "control-label" %>
        <div class="controls">
          <%= f.text_field :name,:class => "m-wrap large" ,:placeholder => "Name"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["name"])%>
        </div>
      </div>

      <div class="control-group" >
        <%= f.label :is_image,"Contain Only Image?",:class => "control-label" %>
        <div class="controls">
          <%= f.check_box :is_image ,:class => "m-wrap large"%>
        </div>
      </div>  

      <!-- removed nested part-->
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save</button>
      <%= link_to "Cancel", quiz_categories_path, :class => "btn" %>
    </div>
  </section>
<% end %>
      