	<%= f.input :question,:label => false ,:input_html =>{:class => "m-wrap large"},:placeholder => "Question" %><br>
	<%= f.input :correct_answer,:label => false ,:input_html =>{:class => "m-wrap large"},:placeholder => "Correct Answer" %><br>        
	Question Image <%= f.file_field :question_image%><br>
	Answer Image <%= f.file_field :answer_image %><br><br>
	<%= f.input :description,:label => false ,:input_html =>{:class => "m-wrap large"},:placeholder => "Description" %><br>
	<%= f.check_box :is_demo ,:input_html =>{:class => "m-wrap large"} %>Is Free Version?<br>
	<%= f.link_to_remove "Remove this Question",:class =>""%>
	
	<legend>Answer</legend>
	<div class="control-group">
	  <label class="control-label">Add Answer Options</label>
	  <%= f.inputs do%>        
	    <%= f.semantic_fields_for :quiz_question_options %>
	    <%= f.link_to_add "Add More Answer",:quiz_question_options,:class =>"" %>
	  <% end %>
	</div>		
