	<%= f.input :name,:label => false ,:input_html =>{:class => "m-wrap large" },:placeholder => "Answer" %><br>
	Answer Image <%= f.file_field :answer_image %><br><br>

<%= f.link_to_remove "Remove this Answer",:class =>""%>

