<div class="row-fluid">
<!-- START Basic Table -->
  <div class="span12 widget dark stacked">
    <header>
      <h4 class="title">Categories</h4>
        <!--/ END Toolbar -->
    </header>
    <section class="body">
      <div class="body-inner no-padding">
        <% if @quiz_categories.present?%>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th colspan=2>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @quiz_categories.each do |quiz_category| %>
                <tr>
                  <td><%= quiz_category.name %></td>
                  <td><%= view_link(quiz_category_path(quiz_category)) %>
                  <%= edit_link(edit_quiz_category_path(quiz_category))%>
                  <%= delete_link(quiz_category_path(quiz_category)) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @quiz_categories , :theme => 'my_custom_theme' %>
        <%else%>
          <strong>Categories Not Present!</strong>
        <%end%>
      </div>
      <%= form_tag import_quiz_categories_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>
    </section>
  </div>
</div>
<br>
<%= add_link('New Quiz category', new_quiz_category_path) %>