<div class="row-fluid">
<!-- START Basic Table -->
  <div class="span12 widget dark stacked">
    <header>
      <h4 class="title"><%=@quiz_category.name%></h4>
        <!--/ END Toolbar -->
    </header>
    <section class="body">
      <div class="body-inner no-padding">
				<% if @quiz_category.quiz_questions.present? %>
						<% @quiz_category.quiz_questions.each do |question|%>
							<ul>
								<li><strong>Question:  </strong>
									<% if question.question_image.present?%>
	                    <%= image_tag question.question_image.url(:thumb)%>
	                    <% else %>
	                    <%= question.question%>
	                    <% end %>
									</li>
									<p><strong>Answer Options: </strong></p>		
								<% question.quiz_question_options.each do |option|%>
									<ul>
										<li>
											<% if option.answer.present?%>
	                    <%= image_tag option.answer.url(:thumb)%>
	                    <% else %>
	                    <%= option.name%>
	                    <% end %>
	                  </li>
									</ul>
								<% end %>
								<ul><strong>
									<li>Correct Answer:  </strong>
										<% if question.answer_image.present?%>
	                    <%= image_tag question.answer_image.url(:thumb)%>
	                    <% else %>
	                    <%= question.correct_answer %>
	                    <% end %>
									</li>
									<li><strong>Description:  </strong><%= question.description%></li>
									<li><strong>Version:  </strong><%= question.is_demo == true ? "Free" : "Pro"%></li>
								</ul>			
							</ul>
						<% end %>
					<% else %>
						No Questions added yet!
				<% end %>
			</div>
		</section>
	</div>
	<%= edit_link(edit_quiz_category_path(@quiz_category),'btn blue') %> 
</div>