<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put , :class=>"span12 form-horizontal widget stacked dark" }) do |f| %>
            <%= devise_error_messages! %>
            <header>
             <h4 class="title">Change Password</h4>
           </header>
           <section class="body">
           <div class="body-inner">
            <!--<div class="control-group">
              <%= f.label :email,:class => "control-label" %><br />
              <%= f.email_field :email, :disabled => true %>
            </div>-->
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div class="control-group">
                Currently waiting confirmation for: <%= resource.unconfirmed_email %>
              </div>
            <% end %>
            <div class="control-group">
              <%= f.label :password,:class => "control-label" %> 
              <div class="controls">
                <%= f.password_field :password, :autocomplete => "off",:class => "m-wrap large" %>
                <span class="help-inline">(leave blank if you don't want to change it)</span>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :password_confirmation,:class => "control-label" %>
              <div class="controls">
                <%= f.password_field :password_confirmation, :class => "m-wrap large" %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label :current_password,:class => "control-label" %> 
              <div class="controls">
                <%= f.password_field :current_password,:class => "m-wrap large" %>
                <span class="help-inline">(we need your current password to confirm your changes)</span>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save</button>
              <%= link_to "Cancel", root_path, :class => "btn" %>
            </div>
            </div>
            </section>
          <% end %>