<%= semantic_nested_form_for(@quiz_question,:html => {:class=>"span12 form-horizontal widget stacked dark"}) do |f| %>
<header>
<h4 class="title">Question</h4>
</header>
<section class="body">
  <div class="body-inner">
    <div class="control-group">
      <%= f.label :quiz_category_id,"Category",:class => "control-label" %>
       <div class="controls">
        <%=f.collection_select :quiz_category_id,QuizCategory.all,:id,:name ,{},{:class => "large m-wrap"} %>
        <div class="inline-errors"><%= show_inline_errors(f.object.errors,["quiz_category_id"])%></div>
      </div>
    </div>
    <div class="control-group" id="question_text" style="display: <%= (@category_name != true)? 'block' : 'none' %>;">
      <%= f.label :question,:class => "control-label" %>
       <div class="controls">
        <%= f.text_field :question ,:class => "m-wrap large" ,:placeholder => "Question"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["question"])%></div>
      </div>
    </div>
    <div class="control-group" id="answer_text" style="display: <%= (@category_name != true)? 'block' : 'none' %>;">
      <%= f.label :correct_answer,:class => "control-label" %>
      <div class="controls">
        <%= f.text_field :correct_answer ,:class => "m-wrap large" ,:placeholder => "Correct Answer"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["correct_answer"])%></div>
      </div>
    </div>

    <div class="control-group" id="question_image" style="display: <%= (@category_name == true)? 'block' : 'none' %>;">
      <%= f.label :question_image, "Question Image",:class => "control-label" %>
      <div class="controls">
        <%= f.file_field :question_image ,:class => "m-wrap large" %>
        <%= image_tag f.object.question_image.url(:thumb) if f.object.question_image.present? %>
      </div>
    </div>

    <div class="control-group" id="answer_image" style="display: <%= (@category_name == true)? 'block' : 'none' %>;">
      <%= f.label :answer_image, "Correct Answer Image",:class => "control-label" %>
      <div class="controls">
        <%= f.file_field :answer_image ,:class => "m-wrap large" %>
        <%= image_tag f.object.answer_image.url(:thumb) if f.object.answer_image.present? %>
      </div>
    </div>

    <div class="control-group" >
      <%= f.label :is_demo,"Is Free Version?",:class => "control-label" %>
      <div class="controls">
        <%= f.check_box :is_demo ,:class => "m-wrap large"%>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description,:class => "control-label" %>
       <div class="controls">
        <%= f.text_field :description ,:class => "m-wrap large" ,:placeholder => "Description" %><div class="inline-errors"><%= show_inline_errors(f.object.errors,["description"])%></div>
      </div>
    </div>
    <fieldset>
      <legend>Answers</legend>
      <div class="control-group">
        <label class="control-label">Add Answer Options</label>
        <%= f.inputs do%>        
          <%= f.semantic_fields_for :quiz_question_options %>
          <%= f.link_to_add "Add More Option",:quiz_question_options,:class =>"" %>
        <% end %>
      </div>
    </fieldset>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save</button>
    <%= link_to "Cancel", quiz_questions_path, :class => "btn" %>
  </div>
 </section>
<% end %>
<script type="text/javascript">
  $('#quiz_question_quiz_category_id').change(function(){
    var category = $("#quiz_question_quiz_category_id option:selected").text();
    if(category == "Visual Logic" || category == "Visual logic" || category == "Symbols" || category == "Spacial reasoning" || category == "Spacial Reasoning" || category == "Syllogism" ){
      $('#question_image').show();
      $('#answer_image').show();
      $('#option_image').show();
      $('#question_text').hide();
      $('#answer_text').hide();
      $('#option_text').hide();
    }
    else{
      $('#question_image').hide();
      $('#answer_image').hide();
      $('#option_image').hide();
      $('#question_text').show();
      $('#answer_text').show();
      $('#option_text').show();
    }
  });
</script>