<div id="option_text" style="display: <%= (@category_name != true)? 'block' : 'none' %>;">
	<%= f.input :name,:label => false ,:input_html =>{:class => "m-wrap large"},:placeholder => "Answer" %>
	<%= f.link_to_remove "Remove this Answer",:class =>""%>
<br>
</div>
<div id="option_image" style="display: <%= (@category_name == true)? 'block' : 'none' %>;" >
	<%= f.file_field :answer ,:class => "m-wrap large" %>
	<%= image_tag f.object.answer.url(:thumb) if f.object.answer.present? %>
	<%= f.link_to_remove "Remove this Answer",:class =>""%>
</div>