<div class="row-fluid">
<!-- START Basic Table -->
  <div class="span12 widget dark stacked">
    <header>
      <h4 class="title">Question</h4>
        <!--/ END Toolbar -->
    </header>
    <section class="body">
      <div class="body-inner no-padding">
        <% if @quiz_questions.present? %>
          <table class="table">
            <thead>
              <tr>
                <th>Question</th>
                <th>Correct Answer</th>
                <th>Description</th>
                <th colspan=2>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @quiz_questions.each do |quiz_question| %>
                <tr>
                  <td><% if quiz_question.question_image.present?%>
                      <%= image_tag quiz_question.question_image.url(:thumb)%>
                      <% else %>
                      <%= quiz_question.question%>
                      <% end %>
                  </td>
                  <td><% if quiz_question.question_image.present?%>
                      <%= image_tag quiz_question.answer_image.url(:thumb)%>
                      <% else %>
                      <%= quiz_question.correct_answer%>
                      <% end %>
                  </td>
                  <td><%= quiz_question.description%></td>
                  <td><%= view_link(quiz_question_path(quiz_question)) %>
                  <%= edit_link(edit_quiz_question_path(quiz_question)) %>
                  <%= delete_link(quiz_question_path(quiz_question))%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @quiz_questions , :theme => 'my_custom_theme' %>
        <% else %>
          <strong>Questions Not Present!</strong>
        <% end %>
      </div>
    </section>
  </div>
</div>
<br>
<%= add_link('New Quiz question', new_quiz_question_path)%>
