<div class="row-fluid">
<!-- START Basic Table -->
  <div class="span12 widget dark stacked">
    <header>
      <h4 class="title">Question</h4>
        <!--/ END Toolbar -->
    </header>
    <section class="body">
      <div class="body-inner no-padding">
        <table class="table">
          <tr>
          	<td><strong>Question:</strong></td>
          	<td>
          		<% if @quiz_question.question_image.present?%>
                    <%= image_tag @quiz_question.question_image.url(:small)%>
                    <% else %>
                    <%= @quiz_question.question%>
                    <% end %>
            </td>
          </tr>
          <tr>
          	<td><strong>Correct Answer:</strong></td>
          	<td>
          		<% if @quiz_question.answer_image.present?%>
                    <%= image_tag @quiz_question.answer_image.url(:small)%>
                    <% else %>
                    <%= @quiz_question.correct_answer%>
                    <% end %>
          	</td>
          </tr>
          <tr>
          	<td><strong>Description:</strong></td>
          	<td><%= @quiz_question.description%></td>
          </tr>
          <tr>
          	<td><strong>Answer Options</strong></td>
          	<td>
          		<ul>
          			<% @quiz_question.quiz_question_options.each do |options| %>
          				<li>
          					<% if options.answer.present?%>
                    <%= image_tag options.answer.url(:small)%>
                    <% else %>
                    <%= options.name%>
                    <% end %>
          				</li>
          			<% end %>
          		</ul>
          	</td>
          </tr>
          <tr>
          	<td><strong>Version:</strong></td>
          	<td><%= @quiz_question.is_demo==true ? "Free" : "Pro"%></td>
          </tr>
        </table>
      </div>
    </section>
  </div>
  <%= edit_link(edit_quiz_question_path(@quiz_question),'btn blue') %>    
</div>