<%= semantic_nested_form_for(@user,:html => {:class=>"span12 form-horizontal widget stacked dark"}) do |f| %>
<header>
<h4 class="title">User</h4>
</header>
<section class="body">
<div class="body-inner">
  <div class="control-group">
    <%= f.label :email,:class => "control-label" %>
     <div class="controls">
      <%= f.text_field :email ,:class => "m-wrap large" ,:placeholder => "Name"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["email"])%></div>
    </div>
  </div>
  <div class="control-group" >
    <%= f.label :password,:class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password ,:class => "m-wrap large" ,:placeholder => "Password"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["password"])%></div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation,:class => "control-label" %>
     <div class="controls">
      <%= f.password_field :password_confirmation ,:class => "m-wrap large" ,:placeholder => "Password Confirmation" %><div class="inline-errors"><%= show_inline_errors(f.object.errors,["password_confirmation"])%></div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :firstname,:class => "control-label" %>
    <div class="controls">
      <%= f.text_field :firstname ,:class => "m-wrap large" ,:placeholder => "First Name"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["firstname"])%></div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname,:class => "control-label" %>
     <div class="controls">
      <%= f.text_field :lastname ,:class => "m-wrap large" ,:placeholder => "Last Name"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["lastname"])%></div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city,:class => "control-label" %>
    <div class="controls">
      <%= f.text_field :city ,:class => "m-wrap large" ,:placeholder => "City"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["city"])%></div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state,:class => "control-label" %>
    <div class="controls">
      <%= f.text_field :state ,:class => "m-wrap large" ,:placeholder => "State"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["state"])%></div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phonenumber,:class => "control-label" %>
    <div class="controls">
      <%= f.text_field :phonenumber ,:class => "m-wrap large" ,:placeholder => "Phone Number"%><div class="inline-errors"><%= show_inline_errors(f.object.errors,["phonenumber"])%></div>
    </div>
  </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Save</button>
    <%= link_to "Cancel", users_path, :class => "btn" %>
  </div>
 </section>
<% end %>