<div class="row-fluid">
<!-- START Basic Table -->
<div class="span12 widget dark stacked">
  <header>
      <h4 class="title">Users</h4>
      <!--/ END Toolbar -->
  </header>
  <section class="body">
    <div class="body-inner no-padding">
      <% if @users.present? %>
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Firstname</th>
              <th>Lastname</th>
              
              <th>Country</th>
              <th colspan=2>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><span><%= user.email %></span></td>
                <td><span><%= user.firstname %></span></td>
                <td><span><%= user.lastname %></span></td>
           
                <td><span><%= user.country %></span></td>
            
                <td>
                  <%#= view_link(user_path(user)) %>
                  <%= edit_link(edit_user_path(user)) %>
                  <%= delete_link(user_path(user)) %>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
        <%= paginate @users , :theme => 'my_custom_theme' %>
      <% else %>
        <strong>Users Not Present!</strong>
      <% end %>
      </div>
  </section>
</div>
<!--/ END Striped Table -->
<!--/ END Row -->
<%= add_link('New User',new_user_path) %>