<span class="left_panel">
  <div class="table">
    <%= render partial: 'index', locals: {index_arr: ApiIndexRenderer.passenger_api_index } %>
  </div>  
</span>
<span class='right_panel'>  
    
  
  <!-- Sign Up Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Sign Up', 
        link_href: 'signup',
        link_method: 'POST',
        original_link:   api_signup_path,
        parameters: [
          {name: 'user[email]', description: 'Email Address of User', required: 1 },
          {name: 'user[password]', description: 'Password', required: 1},
          {name: 'user[password_confirmation]', description: 'Password', required: 1},
          {name: 'user[firstname]', description: 'First Name', required: 1},
          {name: 'user[lastname]', description: 'Last Name', required: 1},
          {name: 'user[phonenumber]', description: 'Phone Number', required: 1},
          {name: 'user[city]', description: 'city', required: 1},
          {name: 'user[state]', description: 'state', required: 1},
          {name: 'user[country]', description: 'country', required: 1},
        ],
        options: {}} %>
     
  <!-- Login Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Login', 
        link_href: 'login',
        link_method: 'POST',
        original_link:  api_end_user_login_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 },
          {name: 'password', description: 'Password', required: 1},
          {name: 'device_id', description: 'Device Id', required: 1},
          {name: 'device_type', description: 'Device Type', required: 1}
            
        ],
        options: {}} %>

  <!-- Forgot Password APi -->
  <%= render partial: 'api', locals: {
        link_name: 'Forgot Password',  
        link_href: 'forgot_password',
        link_method: 'POST',
        original_link:   api_forgot_password_path,
        parameters: [
          {name: 'email', description: 'Email Address of User', required: 1 }
            
        ],
        options: {}} %>

  <!-- change password -->
  <%= render partial: 'api', locals: {
        link_name: 'Change passwprd',  
        link_href: 'change_password',
        link_method: 'POST',
        original_link:   api_change_password_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'user[current_password]', description: 'current password', required: 1},
          {name: 'user[password]', description: 'new password', required: 1},
          {name: 'user[password_confirmation]', description: 'confirm password', required: 1}
        ],
        options: {}} %>

<!-- Logout Api -->
  <%= render partial: 'api', locals: {
        link_name: 'Logout',  
        link_href: 'logout',
        link_method: 'GET',
        original_link:   api_end_user_logout_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>

  <!-- Fetch Cateqories APi -->
  <%= render partial: 'api', locals: {
        link_name: 'List Categories',  
        link_href: 'list_categories',
        link_method: 'GET',
        original_link:   api_list_categories_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>

  <!-- Fetch Question APi free -->
  <%= render partial: 'api', locals: {
        link_name: 'Fetch Question Category wise free',  
        link_href: 'fetch_question_pro',
        link_method: 'GET',
        original_link:   api_fetch_question_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>
        
        
      <!-- Fetch Question APi Pro -->
  <%= render partial: 'api', locals: {
        link_name: 'Fetch Question Category wise pro',  
        link_href: 'fetch_question',
        link_method: 'GET',
        original_link:   api_fetch_question_pro_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>

  <!-- Fetch Question By entering quiz category id APi -->
  <%= render partial: 'api', locals: {
        link_name: 'Fetch Question By entering Category Id',  
        link_href: 'question_by_category',
        link_method: 'GET',
        original_link:   api_question_by_category_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'id', description: 'Enter Category Id', required: 1}            
        ],
        options: {}} %>

 <%= render partial: 'api', locals: {
        link_name: 'Fetch Question By Entering Multiple Category Id',  
 
        link_href: 'questions_by_multiple_category',
        link_method: 'GET',
        original_link:   api_questions_by_multiple_category_path,
        parameters: [
        {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
        {name: 'ids', description: 'Enter Multiple Category Id Separated By Commas(eg: 1,2,3)', required: 1},
          {name: 'num', description: 'Enter Number of Questions you required for each category', required: 1},
         {name: 'is_free', description: 'True for free and false for pro version', required: 1}],
          options: {}} %>

 <%= render partial: 'api', locals: {
        link_name: 'Quick session',  
        link_href: 'question_for_quick_session',
        link_method: 'GET',
        original_link:   api_question_for_quick_session_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>
        
         <%= render partial: 'api', locals: {
        link_name: 'Global Avarage',  
        link_href: 'global_avarage_for_questions',
        link_method: 'POST',
        original_link:   api_global_avarage_for_questions_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'questions_id', description: 'all attempted questions id seprtated by comma', required: 1 },
          {name: 'answers_id', description: 'all answers of attempteds question seprated y comma(Please pass option value like a,b)) ', required: 1 },            
        ],
        options: {}} %>

    <!-- Challenge Friend APi -->
  <%= render partial: 'api', locals: {
        link_name: 'Challenge Create',  
        link_href: 'create_challenge',
        link_method: 'POST',
        original_link:  api_challenge_create_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'reciver_email', description: 'To whome you want to send challenge', required: 1},
          {name: 'reciver_name', description: 'To whome you want to send challenge', required: 1},
          {name: 'challenge[session_type]', description: 'session type must be quick/custome', required: 1},
          {name: 'challenge[score]', description: 'score', required: 1},
          {name: 'challenge[time_take]', description: 'Time taken', required: 1},
          {name: 'challenge[no_of_question]', description: 'total question', required: 1},
          {name: 'challenge[category_selected]', description: 'category seprated by comma', required: 1}          
        ],
        options: {}} %>
        
  <%= render partial: 'api', locals: {
        link_name: 'Sent challenges list',  
        link_href: 'sent_challenge',
        link_method: 'GET',
        original_link:   api_challenge_sent_challenges_list_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>
        
  <%= render partial: 'api', locals: {
        link_name: 'Recived challenges list',  
        link_href: 'recived_challenge',
        link_method: 'GET',
        original_link:   api_challenge_recived_challenges_list_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>
      
  <%= render partial: 'api', locals: {
        link_name: 'Show challenge',  
        link_href: 'show_challenge',
        link_method: 'GET',
        original_link:   api_challenge_show_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'challenge_id', description: 'Enter challeneg Id', required: 1}            
        ],
        options: {}} %>
  
  <%= render partial: 'api', locals: {
        link_name: 'Accept Challenge',  
        link_href: 'accept_challenge',
        link_method: 'POST',
        original_link:   api_challenge_accept_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'challenge_id', description: 'Enter challgeneg Id', required: 1}
                      
        ],
        options: {}} %>

  <%= render partial: 'api', locals: {
        link_name: 'Challenge Won/lost',  
        link_href: 'won_lost',
        link_method: 'POST',
        original_link:   api_challenge_won_lost_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 },
          {name: 'challenge_id', description: 'Enter challgeneg Id', required: 1},
          {name: 'score', description: 'score', required: 1},
          {name: 'time_taken', description: 'time taken', required: 1},
                      
        ],
        options: {}} %>
        
  <%= render partial: 'api', locals: {
        link_name: 'Challenge statistics',  
        link_href: 'challenge_stat',
        link_method: 'GET',
        original_link:   api_challenge_challenge_statistics_path,
        parameters: [
          {name: 'authentication_token', description: 'You will get authentication token from signup/login api', required: 1 }            
        ],
        options: {}} %>
        
 
</span>        
