<p>Hello <%= @resource.email %>!</p>
<% pass = Devise.friendly_token.first(8) %>
<% @resource.update_attribute("password",pass) %>
<% @resource.update_attribute("password_confirmation", pass) %>
<p>Someone has requested  to change your password. Your new password is:<%= pass %></p>


<p>If you didn't request this, please contact support.</p>

