<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="footer-inner">
		2013 &copy; IQTrainerApp
	</div>
	<div class="footer-tools">
		<span class="go-top">
		  <i class="icon-angle-up"></i>
		</span>
	</div>
</div>
	<!-- END FOOTER -->